@import '~xng-styleguide/src/styles/variables';

:host {
  background: $white;
  padding: 20px;
  .xng-card {
    margin-bottom: 0;
  }
  .xng-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .confirmation-modal-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    button {
      flex-grow: 1;
      margin: 10px;
      &.no {
        background: $red;
      }
      &.yes {
        background: $green;
      }
    }
  }
}
