:host {
  display: flex;
  user-select: none;
  img {
    opacity: 0;
    animation: fadein 250ms forwards ease-in-out;
    margin-bottom: 30px;
  }
  button {
    opacity: 0;
    animation: fadein 250ms forwards ease-in-out;
    transition: background-color 250ms;
  }
}
