@import '~xng-styleguide/src/styles/variables';

:host {
  display: flex;
  flex-grow: 1;
  .quiz-card {
    flex-grow: 1;
  }
  .quiz-question {
    text-align: center;
  }
  .quiz-feedback {
    width: 100%;
    text-align: center;
    display: block;
    opacity: 0;
    height: 15px;
    transition: 250ms opacity;
    &.visible {
      opacity: 1;
    }
  }
  .quiz-answer-button-wrapper {
    display: grid;
    grid-gap: 10px;
    button {
      user-select: none;
      transition: opacity 250ms;
    }
    &.user-answered {
      button {
        pointer-events: none;
        transition: filter 500ms ease-out 500ms;
        filter: grayscale(100%);
        opacity: 0.5;
        &.incorrect {
          opacity: 1;
          border: 1px solid $red;
          color: $red;
          background-color: $white;
          transition: background-color 500ms ease-in;
          filter: grayscale(0%);
          opacity: 0.8;
        }
        &.correct {
          opacity: 1;
          background-color: $green;
          color: $white;
          transition: background-color 500ms ease-in;
          filter: grayscale(0%);
          opacity: 1;
        }
      }
    }
    &.new-answers-initializing {
      button {
        pointer-events: none;
      }
    }
  }
}
