<!-- <app-layouts-header></app-layouts-header> -->

<img src="./../assets/img/crossengage-logo-white.png" alt="" />
<button class="xng-btn xng-btn--inverted" (click)="getNewQuestion()">
  Start Quiz
</button>
<!-- <router-outlet></router-outlet> -->

<h2 class="xng-h2">Card Title</h2>
<div class="xng-card xng-padding--20 ">
  <div class="xng-card__content">
    <div class="xng-columns">
      <div class="xng-card__header xng-column">
        <h3 class="xng-h3">Header Title</h3>
        <span class="xng-text-mute">Header subtitle</span>
      </div>
    </div>
    <hr class="xng-divider-line--light" />
    <div class="xng-card__body">
      <p class="xng-text">This is a basic card body.</p>
    </div>
  </div>
</div>
