@import '~xng-styleguide/src/styles/variables';

:host {
  background: $brand-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  router-outlet {
    position: absolute;
  }
}
