@import '~xng-styleguide/src/styles/xng.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

button {
  transition: opacity 250ms, background-color 250ms;
  &:hover {
    opacity: 0.95;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
