<div
  *ngIf="quizStarted"
  [class]="navigationData | navigationClasses: 'outerContainer'"
>
  <div [class]="navigationData | navigationClasses: 'buttonContainer'">
    <button
      class="xng-navigation__button go-home"
      (click)="launchLeaveConfirmation()"
    >
      Home
    </button>
    <!-- <button class="xng-navigation__button go-home" (click)="goToScoreboard()">
      Scoreboard
    </button> -->
  </div>
  <div [class]="navigationData | navigationClasses: 'buttonContainer'">
    <button
      *ngFor="let level of levels"
      type="button"
      (click)="setLevel(level)"
      class="xng-navigation__button"
      [class.active]="level === currentLevel"
      [class.answerButtonsEntering]="answerButtonsEntering"
    >
      {{ level }}
    </button>
  </div>
  <div [class]="navigationData | navigationClasses: 'buttonContainer'">
    <div class="xng-navigation__button user-stats-count incorrect">
      {{ incorrectAnswerCount }}
    </div>
    <div class="xng-navigation__button user-stats-count correct">
      {{ correctAnswerCount }}
    </div>
  </div>
  <hr *ngIf="hasDivider" class="xng-divider-line--dark" />
</div>
