:host {
  display: block;
  > div {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }
  .user-stats-wrapper {
    display: flex;
    width: 250px;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
  }
  .user-stats-count {
    font-family: Montserrat, sans-serif;
  }
}
